/* Общие стили для шапки */

a {
  text-decoration: none; /* убирает подчёркивание */
  color: inherit;       /* наследует цвет текста */
}

a:hover {
  text-decoration: none; /* убирает подчёркивание при наведении */
}



.MuiAppBar-root {
  background-color: #333 !important;  /* Устанавливаем темный фон для шапки */
  padding-left: 8px;  /* Отступ слева */
  padding-right: 8px;  /* Отступ справа */
}

/* Логотип */
.logo {
  display: flex;
  align-items: center;  /* Выравнивание логотипа по вертикали */
}

/* Кнопка "Категории" */
.categoryButton {
  margin-right: 2px;
}

/* Строка поиска */
.searchBox {
  flex-grow: 1;  /* Строка поиска растягивается на оставшуюся ширину */
  margin-left: 8px;  /* Отступ слева от строки поиска */
}

.searchField {
  background-color: #5d5d5d;  /* Цвет строки поиска чуть светлее шапки */
  border-radius: 5px;  /* Закругленные углы */
}

/* Кнопка "Войти" */
.loginButton {
  color: white !important; /* Белый цвет текста для кнопки */
  text-transform: none !important; /* Убираем верхний регистр */
}

/* Стили для ссылок */
.link {
  text-decoration: none;  /* Убираем подчеркивание */
   /* Белый цвет для текста */
}

/* Стили для выпадающего меню */
.MuiMenu-root {
  /* background-color: #333 !important;  Темный фон для меню */
  color: rgb(255, 255, 255) !important;  /* Белый цвет для текста */
  border-radius: 5px;  /* Скругленные углы меню */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Легкая тень для меню */
  position: absolute !important; /* Задаем абсолютное позиционирование */
  /* z-index: 1201 !important;  Убедимся, что меню будет поверх других элементов */
}

/* Стили для элементов меню */
.MuiMenuItem-root {
  color: rgb(87, 87, 87) !important;  /* Белый цвет для текста элементов меню */
  background-color: #333;  /* Фон для элементов меню */
  padding: 8px 16px;  /* Добавляем отступы, чтобы элементы не слипались */
  border-radius: 5px;  /* Закругленные углы */
}

/* Эффект наведения на элементы меню */
.MuiMenuItem-root:hover {
  background-color: #444 !important;  /* Немного светлее фон при наведении */
  color: white !important;  /* Белый цвет текста */
}

/* Для иконок в меню */
.MuiSvgIcon-root {
  color: white;
}

