/* Для body */
body {
  margin: 0;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: white;
}
 

/* Стиль для AppBar (шапки сайта) */
.MuiAppBar-root {
  background-color: #333;  /* Темный фон для шапки */
}


/* Кнопки в Navbar */
.MuiButton-root {
  text-transform: none;  /* Убираем верхний регистр для кнопок */
}

/* Иконка поиска */
.MuiInputAdornment-root {
  display: flex;
  align-items: center;
}

/* Для кнопки Войти */
.MuiButton-root.MuiButton-text {
  font-size: 16px;
}

/* Для логотипа */
.MuiTypography-root {
  width: auto;  /* Логотип не будет растягиваться */
}
